img {

  max-width: 100%;

}



table, td, th {

  cell-padding: 0px;

  cell-spacing: 0px;

  border-color: #eee;

  text-align: left;

}



thead {

   border-color: #eee;

  background-color: #ccc;

}
